<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BIND_VPN_SERVICE"/>
    <application>
        <service
            android:name=".LocalVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:exported="false" 
        />
    </application>
</manifest>
